*{
	box-sizing: border-box;
}

.green{
	border: solid #6AC5AC 5px;
}


.red{
	border: solid #D64078 5px;
}

.box{
	min-width: 500px;
	min-height: 300px;
}
.static{
	position: static;
}

.relative{
	position: relative;
	width: 500px;
	top: -100px;
	left: 200px;
}

.absolute{
	position: absolute;
}